html * {
    border: 2px solid teal;
}

.canvas {
    display: grid;
    max-height: fit-content;
    max-width: 90vmin;
    max-height: 90vmin;
}

.pixel {
    background-color: darkorange;
    aspect-ratio: 1;
}

.colored {
    background-color:darkorchid;
}